/* src/pages/Home.module.css */
.container {
  position: relative;
  padding: 4rem 2rem;
  background-color: #ffffff;
  color: #111;
  font-family: 'Inter', sans-serif;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #111;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.25rem;
  color: #333;
  margin-bottom: 2rem;
}

.intro {
  font-size: 1rem;
  color: #444;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.6;
}

.geometryBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/geometry-bg.svg');
  background-repeat: repeat;
  background-size: contain;
  opacity: 0.05;
  z-index: 0;
  pointer-events: none;
}

.homeIntro {
  max-width: 700px;
  margin: 2rem auto;
  font-size: 1rem;
  line-height: 1.6;
  padding: 1rem;
}

.homeIntro ul {
  /* list-style-type: disc;  */
  padding-left: 1.5rem;
  margin-top: 1rem;
}

.homeIntro li {
  margin-bottom: 0.75rem;
  font-size: 1rem;
  text-align: left;
}