/* Footer.module.css */
.footer {
  padding: 2rem;
  text-align: center;
  background: white;
  border-top: 1px solid #d4af37;
  font-size: 0.9rem;
  color: #222;
  position: relative;
  overflow: hidden;
}

.bg {
  background-image: url('/images/flower-of-life-bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
  opacity: 0.05;
  position: absolute;
  bottom: 10px;
  left: 0;
  height: 100px;
  width: 100%;
  z-index: 0;
}

.contact {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 0.95rem;
  line-height: 1.6;
  position: relative; 
  z-index: 2;    
}

.contact a {
  color: inherit;
  text-decoration: underline;
}